.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0 10%;
  border-bottom: 1px solid #b7b8bd;
  position: fixed;
  z-index: 999;
}

.logo {
  font-size: 1.5rem;
  color: #3b404b;
  font-weight: bold;
  cursor: pointer;
}

.nav-default {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #87888d;
}

.header a:hover {
  color: #3b404b;
}

/* .header button {
  
} */

.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .nav-mobile {
    z-index: 1;
    position: absolute;
    top: 100%;
    right: 0;
    margin: 0;
    padding: 2rem 2rem;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .nav-default {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
