.img-full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.img {
  max-width: 100%;
}

.sub-title {
  margin: 15px 0;
  text-align: center;
  font-size: 1.5rem;
}
